{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static '/js/theme.js'%}"></script>
    <link rel="stylesheet" href="{% static '/style/theme.css'%}">
    <link rel="stylesheet" href="{% static '/style/loginPage.css'%}">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
</head>



<body>
    <div class="theme-fab">
        <div class="theme-toggle">
            <span class="theme-icon" aria-hidden="true">&#9728;</span>
            <label class="theme-switch" title="Alternar tema">
                <input type="checkbox" data-theme-switch onchange="window.ConnectMXTheme && ConnectMXTheme.set(this.checked ? 'dark' : 'light')">
                <span class="theme-slider"></span>
            </label>
            <span class="theme-icon" aria-hidden="true">&#9790;</span>
        </div>
    </div>
    <div class="mainBlock">
        <div class="formBlock">
            <div class="formMainBlock">
                <div class="imageBlock">
                    <img src="{% static 'assets/l_maxiplast.jpeg' %}" class="imageLogo">
                </div>
                <div class="spaceForFormBlock">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="formFields">
                            <span>E-mail</span>
                            <input type="text" name="login" placeholder="Email, usuário ou Matrícula">
                            <span>Senha</span>
                            <input type="password" name="password" placeholder="Senha">
                            <button type="submit">Entrar</button>
                        </div>

                        
                        {% if erro %}
                            <p>{{ erro }}</p>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
